body {
  background: #cbcbcb;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
  font-size: 5em;
  color: transparent;                                         
  background-color: #666666;
         -webkit-background-clip: text;
         -moz-background-clip: text;
         background-clip: text;
         text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  color: transparent;                                         
  background-color: #666666;
         -webkit-background-clip: text;
         -moz-background-clip: text;
         background-clip: text;
         text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  text-transform: uppercase;
}

pre {
  text-align: left;
  margin: 5em;
  color: black;
  font-size: 12px;
  font-weight: bold;
}



