table {
  font-size: 2rem;
  background-image: none;
  background-color: white;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  background-image: none;
}

.table {
  background-image: none;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a, button {
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  font-size: 1.6rem;
  color: red;
  font-weight: bolder;
}

#list a:visited{
  color: #424748;
}

#list a:hover, button:hover {
  background-color: white;
}
